.grad {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    background-image: linear-gradient(#FEE140, #FA709A);
  }

  .box{
    
    margin-top: 40px;
    margin-bottom: 20px;
  }